#body_form{
    background-image: url('img/fundo.jpg');
}
body.background {
    background-image: url(img/fundo.jpg) ;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  div.transbox {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5px;
    margin: 10px;
    font-weight: bold;
  }
#page-content{
    display: flex;
    justify-content: center;
}

#canvas{
    border: 2px solid black;
    height:900px;
    width:100%; 

}

p{
    grid-column: 2/5;
}

#formcad{
    margin-top: 10%;
}

form{
    margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    height: 800px;
    width: 680px;
    column-gap: 12px;
    row-gap: 4px;
    align-items: center;
    padding: 0 15px 15px 15px;
    border: 1px solid #10303a40;
    border-radius: 12px;
    background-color: #add8e6;
    backdrop-filter: blur(100px);
}

form label{
    text-align: right;
    padding: 8px 0;
    align-self: center;
}

form label[for="gen"]{
    justify-self: left;
    padding: 10px 0;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 40px
}

#cor{
    padding: 0;
    margin: 0;
}
#img_perfil{
    transform: rotate(0.5turn);
}


input{
    border-radius: 10px;
    background-color:white;
    color: black;
    height: 20px;
    width: auto;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
    
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


#enviar_botao{
    border-radius: 100px;
    margin: 5%;
    height: 80%;
    position: sticky;
    bottom: 0;
    transition-timing-function: ease;
    transition-duration: 2s;
    transition-delay: 1s;
}
#enviar_botao:hover{
    transform: translateX(300px);
}
#limpar_botao{
    border-radius: 100px;
    margin: 5%;
    height: 80%;
    position: sticky;
    bottom: 0;
}
